<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container" style="position: relative;">
    <img src="images/cinema.jpg" class="img-fluid" style="width:100%" alt="Responsive image">
</div>
<div style="position:absolute; top:120px; right:360px; font-size:120px;">
    <div style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:whitesmoke">
        CINEMA <br>IRONHACK</div>
    <a type="button" href="/movies" class="btn btn-primary btn-lg">Large button</a>
</div>